.dropdown-cc {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
    appearance: none; 
    background-color: white;
    color: #333;
}

.dropdown-cc {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg width="12" height="12" viewBox="0 0 4 5" xmlns="http://www.w3.org/2000/svg"><path fill="%23333" d="M2 0L0 2h4L2 0zm0 5L0 3h4l-2 2z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.dropdown-cc::-ms-expand {
    display: none; 
}

.form-control--invalid select {
    border-color: red;
  }
  
  .form-control--invalid p {
    color: red;
    margin-top: 5px;
    font-size: 0.8rem;
  }
  