.footer-modals a {

    color: #007BFF; 
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none; 
    cursor: pointer; 
    margin-right: 8px; 
}
.footer-modals {
    margin-top: 1.5rem;
}

.footer-modals a:hover {
    color: #0056b3; 
    text-decoration: underline; 
}

.footer-modals a:last-child {
    margin-right: 0; 
}